{% extends 'journal/layout.html' %}

{% block body %}
    <section>
        <div class="entry">
            <a href="{% url 'viewJournal' journalID=journal.id %}">
                <i class="fas fa-arrow-left"></i>
                Return
            </a>
            <h2>{{ entry.header }}</h2>
            <div class="details">
                <p>Created: {{ entry.creation_date }}</p>
                <p>Accessed: {{ entry.accessed_date }}</p>
            </div>
            <p class="entry-content">{{ entry.content }}</p>
        </div>
    </section>
{% endblock %}