{% extends 'journal/layout.html' %}

{% block body %}
    <h1>{{ journal.name }}</h1>
    <div>User: {{ request.user.username  }}</div>

    <h3>Entries</h3>
    <div>
        {% for entry in entries %}
            <ul>
                <a href="{% url 'readEntry' entryID=entry.id journalID=journal.id %}">
                    Entry {{ entry.id }}: {{ entry.header }}
                </a>
            </ul>
        {% endfor %}
    </div>

    <br>
    <a href="{% url 'createEntry' journalID=journal.id %}">Create a new Entry</a>
    <br>
    <a href="{% url 'index' %}">Return to Library</a>
{% endblock %}