{% extends 'journal/layout.html' %}

{% block body %}
    <h1>Journals</h1>
    <div>User: {{ request.user.username }}</div>
    <p>This is the directory for all the journals you have written!</p>

    <a href="{% url 'create' %}">Create a new Entry</a>

    <ul>
        {% for entries in journals %}
            <li>
                <a href="{% url 'read' entries.id %}">
                    Entry {{ entries.id }}: {{ entries.header }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}