{% extends 'journal/layout.html' %}

{% block body %}
    <section>
        <div class="journal-title">
            <h1>{{ journal.name }}</h1>
            <p>Created: {{ journal.creation_date }}</p>
        </div>
        <div class="journal-entries">
            <h3>Entries</h3>
            <div class="create-entry">
                <a href="{% url 'createEntry' journalID=journal.id %}">
                    <button class="btn btn-primary" type="button">Create Entry</button>
                </a>
            </div>
            <div class="container">
                {% for entry in entries %}
                    <div class="row">
                        <div class="col entry-col">
                            <a href="{% url 'readEntry' entryID=entry.id journalID=journal.id %}">
                                {{ entry.header }}
                            </a>
                            <p>{{ entry.accessed_date }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}