{% extends 'journal/layout.html' %}

{% block body %}
    <section>
        <div class="library-head">
            <h2>Welcome, {{ request.user.username }}!</h2>
            <p>I hope your day has been going well, are you here to write an entry or day report?</p>

        {% if not daily_mood %}
            <div class="day-report">

                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#dayReport">
                    Create Day Report
                </button>

                <a class="view-activity-button" href="{% url 'viewActivity' %}">
                    <button class="btn btn-primary" type="button" style="padding: 6px 12px;">View Activities</button>
                </a>

                <div class="modal fade" tabindex="-1" id="dayReport" aria-labelledby="userDayReport" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title" id="userDayReport">Day Report</h4>
                                <p class="date">Current Date</p>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <form method="post" action="{% url 'mood' %}">
                                {% csrf_token %}
                                <div class="modal-body">
                                        <p>How are your feeling today?</p><input class="form-control" type="number" name="mood_scale" placeholder="1-10" max="10" min="1" value="5">
                                        <p>What activities did you do today?</p>

                                        {% if activities %}
                                            {% for activity in activities %}
                                                <div class="row">
                                                    <div class="col activity-col">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="activity" value="{{ activity.name }}">
                                                            <label class="form-check-label" for="activity">{{ activity.name }}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <p>You currently do not have any activities created!</p>
                                        {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit">Make Report</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="remake-day">
            <p>You've already made a day report! You can make a new one by deleting the current one below.</p>
            <a href="{% url 'deleteMood' %}">
                <button class="btn btn-primary" type="button">Delete Day Report</button>
            </a>
            <a class="view-activity-button" href="{% url 'viewActivity' %}">
                <button class="btn btn-primary" type="button" style="padding: 6px 12px;">View Activities</button>
            </a>
        </div>
        {% endif %}

        <div class="library">
            <h3 class="library-title">Library</h3>
            <div class="container">
                {% for journal in journals %}
                    <div class="row">
                        <div class="col journal-row">
                            <a class="journal-name" href="{% url 'viewJournal' journalID=journal.id %}">
                                {{ journal.name }}
                            </a>
                            <p class="journal-access">
                                Accessed Date
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="create-journal">
            <p>Below is how you make a new journal</p>
            <form method="post" action="{% url 'createJournal' %}">
                {% csrf_token %}
                <input class="form-control journal-input" type="text" name="journalName" placeholder="Journal Name">
                <button class="btn btn-primary" type="submit">Create Journal</button>
            </form>
        </div>
    </section>
{% endblock %}