{% extends 'journal/layout.html' %}

{% block body %}
    <h1>Journals</h1>
    <div>User: {{ request.user.username }}</div>
    <p>This is the directory for all the journals you have written!</p>

    {% if not weekly_report %}
        <a href="{% url 'createWeeklyReport' %}">Create a weekly report</a>
    {% else %}
        <p>You have already made a weekly report!</p>
    {% endif %}

    <br>
    <!-- TODO: Insert a way to add your mood for the day using the "mood" function as well as the mood model -->
    {% if not daily_mood %}
    <form action="{% url 'mood' %}" method="POST">
        {% csrf_token %}
        <h3>How are you feeling today?</h3>
        <input type="number" name="mood_scale" placeholder="1 - 10" max="10" min="1" value="5">

        <p>What activities did you do today?</p>
        {% if activities %}
            {% for activity in activities %}
                <input type="checkbox" name="activity" value="{{ activity.name }}">
                <label for="activity">{{ activity.name }}</label>
            {% endfor %}
        {% else %}
        <p style="text-indent: 15px">You currently do not have any activities created!</p>
        {% endif %}
        <br>
        <input type="submit" value="Confirm">
    </form>
    {% else %}
    <p>It seems that you have made a mood report today!</p>
    <a href="{% url 'deleteMood' %}">Recreate</a>
    {% endif %}
    <br>

    <a href="{% url 'viewActivity' %}">View Activities</a>

    <br>
    <h3>Journals</h3>
    <ul>
        {% for journal in journals %}
            <li>
                <a href="{% url 'viewJournal' journalID=journal.id %}">
                    Journal {{ journal.id }}: {{ journal.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <br>
    <form action="{% url 'createJournal' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="journalName" placeholder="Journal Name">
        <input type="submit" value="Create">
    </form>
    <br>

    <a href="{% url 'logout' %}">Log Out</a>
{% endblock %}